*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --cor-logotipo:#ECD487;
    --cor-especial:#F2EC8B;
    --cor-fonte-fundo:#E4E4E4;
    --cor-button:#711D5F;
    --cor-fundo:#1E1E1E;
}

@font-face {
    font-family: Merienda;
    src: url(assets/fonts/Merienda-VariableFont_wght.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Kotta;
    src: url(assets/fonts/KottaOne-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Lexend;
    src: url(assets/fonts/Lexend-VariableFont_wght.ttf);
}
@font-face {
    font-family: MateSC;
    src: url(assets/fonts/MateSC-Regular.ttf);
}


body {
    font-family: 'MateSC', serif;
    background: var(--cor-fundo);
}

#tits h3{
    font-family: 'MateSC', cursive;
    color: var(--cor-especial);
    font-style: italic;
    font-size: .8rem;
    margin: 10px;
}
#tits h1{
    font-family: 'Lexend', cursive;
    color: var(--cor-logotipo);
    margin: 10px;
}

#addT {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#addT input{ /*Na margin troque px por vw para ficar ADD ficar menor (geralmente) que TAREFA*/
    height: 2.5rem;
    margin: auto 15px; /* 1vw */
    border-radius: 2px;
    border: none;
}
.add-task{
    font-family: Lexend;
    font-weight: 800;
    color: var(--cor-button);
    background: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0 10px; /* 1.1vw */
}
.input-task{
    font-family: Lexend;
    font-weight: 600;
    width: 35vw;
    text-align: center;
}
.input-time{
    width: 9vw;
}

#texto2 {
    display: flex;
    justify-content: end;
    width: 85vw;
    gap: 13rem;
    position: relative;
    color: var(--cor-especial);
}

#tList{
    display: flex;
    justify-content: center;
}

#tList ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    
}

.tarefa{
    font-family: Kotta;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    width: 100%;
    height: 2.5rem;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
}

.dcheck{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 10px;
}
.dcheck img{
    width: 30px;
}

.ltask{
    font-size: 21px;
}

.ltime {
    margin-right: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px;
    position: absolute;
    bottom: 0;
}

aside > img{
    width: 45px;
    height: 45px;
}