*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --cor-logotipo:#ECD487;
    --cor-especial:#F2EC8B;
    --cor-fonte-fundo:#E4E4E4;
    --cor-button:#711D5F;
    --cor-fundo:#1E1E1E;
}

@font-face {
    font-family: Merienda;
    src: url(assets/fonts/Merienda-VariableFont_wght.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Kotta;
    src: url(assets/fonts/KottaOne-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Lexend;
    src: url(assets/fonts/Lexend-VariableFont_wght.ttf);
}
@font-face {
    font-family: MateSC;
    src: url(assets/fonts/MateSC-Regular.ttf);
}


body {
    font-family: 'MateSC', serif;
    background: var(--cor-fundo);
}

#tits h3{
    font-family: 'MateSC', cursive;
    color: var(--cor-especial);
    font-style: italic;
    font-size: .8rem;
    margin: 10px;
}
#tits h1{
    font-family: 'Lexend', cursive;
    color: var(--cor-logotipo);
    margin: 10px;
}

#addT {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-left: 40px;
}
#addT input{ /*Na margin troque px por vw para ficar ADD ficar menor (geralmente) que TAREFA*/
    height: 2.5rem;
    margin: auto 15px; /* 1vw */
    border-radius: 2px;
    border: none;
}
.add-task{
    font-family: Lexend;
    font-weight: 800;
    color: var(--cor-button);
    background: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0 10px; /* 1.1vw */
    transition: all .1s ease
}

.add-task:active{
    transform: scale(0.96);
}

.input-task{
    font-family: Lexend;
    font-weight: 600;
    width: 35vw;
    text-align: center;
}
.input-time{
    width: 9vw;
    font-family: Lexend;
    font-weight: 600;
    text-align: center;
}

/* Gambiarra */
#vaiii {
   display: flex;
    justify-content: center;
}

#texto2 {
    color: var(--cor-especial);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 5px 29px;
    width: 70vw; 
    font-family: Merienda;
    letter-spacing: 1.3px;
    font-size: 19px;
}
#texto2 h4{
    margin: 0 0 0 10vw;
}
#texto2 h4:nth-child(1){
   opacity: 0;
   font-size: 1px; 
}
#texto2 h4:nth-child(3){
   font-size: 13px;
}

#tList{
    display: flex;
    justify-content: center;
}

#tList ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    
}

.tarefa{
    font-family: Kotta;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    width: 100%;
    height: 2.5rem;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transition: .3s;
}
/* Movimenta  a li da tarefa (Indeciso)
.tarefa:hover { 
    transform: scale(1.02);
    transition: .3s;
} */

.dcheck{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 10px;
}
.dcheck img{
    width: 30px;
    filter: brightness(85%);
    transition: .5s;
}
.dcheck img:hover {
    filter: brightness(40%);
}

.ltask{
    font-size: 19px;
}

.ltime {
    margin-right: 20px;
    font-weight: bold; /*Ou normal*/
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px;
    position: absolute;
    bottom: 0;
}

aside img{
    width: 45px;
    height: 45px;
    transition: .1s;
}
aside img:active{
    transform: scale(0.96);
    transition: 0.1s;
}

.done {
   text-decoration: line-through;
   background-color: #5a5a5ad3; 
   color: #e2e2e2cc;
}
.done img{
    filter: brightness(65%);
}
.done img:hover{
    filter: brightness(101%);
}